
# These files should be built with Radiant
zone/*.ff
zone/*.xpak

# I will modify this later
perks/

# Cached sound files
sound/zone/CachedBanks

# Sounds, these will be added to releases
zone/snd

# Built files
zone_source/all/scriptgdb/scripts/zm
zone_source/all/scriptgdb/scripts/orng
zone_source/all/scriptgdb/scripts/_zk

tmp_scripts/

zone_source/all/assetinfo/*.errorlog

# I need to clean this file up before I commit it.
Changelog.md
Changelog copy.md